.headerContainer {
  max-width: 1000px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #af7eeb;
}

.headingBtnStyles {
    display: flex;
    align-items: center;
}

.btnStyles {
  margin-right: 800px;
}
